@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.container {
  padding: 0;
}

.Auth {
  background-color: #ecf5ff;
  height: 90vh;
  .poster {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .form {
    padding: 20px;
    background: #fdfdfdc5;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    align-items: center;
    justify-content: center;
    margin: auto;

    .reg > span 
     {
      margin-right: 30px !important;
      margin-bottom: 10px !important;
      border-radius: 10px;
    }

   
   
    h2 {
      text-transform: uppercase;
      font-weight: 900;
      color: #3d313f;

      margin: 0px;
      font-size: 25px;
      font-family: serif;
    }

    h6 {
      margin: 0px;
      font-weight: 900;
      margin-bottom: 20px;
      font-size: 15px;
    }

    h5 {
      display: flex;
      padding-top: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 15px;
      margin: 0px;
      h4 {
        padding-left: 20px;
        color: blue;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        margin: 0px;
        font-size: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .reg {
    display: flex;
    flex-wrap: wrap;
    span {
      input {
        // width: 200px;
      }
    }
  }

  .joinbtn {
    margin-top: 40px;
    display: flex;

    margin-left: 0px !important;
    padding-right: 40px;
    justify-content: space-between;
    Button {
      width: 300px;
    }
    button:nth-child(2) {
      margin-left: 20px;
      background-color: #ba68c8;
      border-radius: 3px !important;
    }
  }
}

.reg {
  span {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) {
  .Auth {
    display: flex;

    background-image: url("/login.svg");
    background-repeat: no-repeat;

    .form {
      width: 50%;
      padding:70px;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }
  }
  .poster {
    width: 50%;

    img {
      height: 400px;
    }
  }
}

@media screen and (max-width: 480px) {
  .Auth {
    padding: 20px;
  }
  .poster {
    img {
      height: 200px;
    }
  }
}

.or {
  position: relative;
  top: -20px;
  background-color: #ecf5ff;
  width: max-content;
  padding: 0px 20px;
  border-radius: 10px;
}

.sign {
  Button {
    background-color: rgb(255, 255, 255);
    border-radius: 6px !important;
    color: black;

    margin-right: 10px;
    margin-bottom: 20px !important;

    &:hover {
      background-color: rgba(243, 165, 165, 0.142);
    }
  }
  .gobtn {
  }
}
