@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif; 
  background-color: #f2f4f7ad !important;
  // background-color: #1a202c;
  // color: white;
  
}

.MuiButton-contained{
  border-radius: 30px !important;
}

.Add{
  button{
    border: 0px solid red !important;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.but{
  background-color: rgba(201, 23, 23, 0.301);
  border-radius: 30px;
}

details{
  background-color: rgba(231, 12, 12, 0.212);
  padding: 20px;
  margin: 20px 0px ;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );


}

p{
  padding: 10px 20px;
}

.block{
  display: flex;


  .right{
   
height: 100vh;
overflow: scroll;


}
}

.Dash{
  img{
    height: 250px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 10px 10px 0 rgb(161, 235, 250) ;
    background-color: rgb(30, 192, 232);
  }
}
.LeftMenu{
// background-color: #02241a !important;
background-color: rgb(3, 44, 69);
 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='540' height='160' preserveAspectRatio='none' viewBox='0 0 540 160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3cpath d='M281.572453779562 100.30808510351808L241.21633281777062 119.99108044468962 301.25544912073354 140.6642060653095z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M259.01 144.58 a40.16 40.16 0 1 0 80.32 0 a40.16 40.16 0 1 0 -80.32 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M414.025%2c141.205C424.115%2c141.064%2c433.856%2c136.124%2c438.549%2c127.191C442.972%2c118.77%2c440.465%2c108.735%2c435.266%2c100.769C430.581%2c93.59%2c422.596%2c89.505%2c414.025%2c89.613C405.648%2c89.718%2c398.363%2c94.337%2c393.688%2c101.29C388.277%2c109.337%2c383.887%2c119.251%2c388.289%2c127.891C392.989%2c137.115%2c403.674%2c141.349%2c414.025%2c141.205' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M53.829%2c168.097C70.204%2c167.75%2c86.873%2c162.078%2c94.952%2c147.83C102.942%2c133.739%2c98.988%2c116.72%2c90.928%2c102.668C82.82%2c88.532%2c70.102%2c76.994%2c53.829%2c76.132C36.055%2c75.19%2c18.415%2c83.092%2c9.234%2c98.34C-0.22%2c114.042%2c-0.301%2c134.198%2c9.571%2c149.64C18.799%2c164.074%2c36.701%2c168.46%2c53.829%2c168.097' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M266.3354467041489 100.80761520951435L285.9815983887559 89.46490424586626 259.1444561009803 65.6670322007798z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M479.4457884818835 54.90799708415134L500.779305887904 63.9635379641763 503.6958585049312 27.43549141513302z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M122.51430932723272 62.84748219280324L105.83966833061561 25.39562532275039 68.38781146056276 42.070266319367505 85.06245245717987 79.52212318942036z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M5.493709727419734 174.39951107565662L32.70812403903953 187.08980088136795 38.13635159179661 139.9230345110826z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M276.91 3.25 a37.83 37.83 0 1 0 75.66 0 a37.83 37.83 0 1 0 -75.66 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M511.267318135667 138.76060535143517L541.9742512202482 121.03194926906437 524.2455951378774 90.32501618448315 493.53866205329615 108.05367226685397z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M289.44089007462134 127.11685514838634L310.33015803222867 105.52659991966378 284.9638586773338 98.7297204925536z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='540' height='160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='240' height='800' preserveAspectRatio='none' viewBox='0 0 240 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='240' height='800' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M58.67 590.86 a40.68 40.68 0 1 0 81.36 0 a40.68 40.68 0 1 0 -81.36 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M189.19155676896366 444.58753926839995L222.20114606360457 462.13904923163227 239.75265602683692 429.1294599369914 206.74306673219598 411.577949973759z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M211.555%2c160.741C233.977%2c160.491%2c253.473%2c146.751%2c264.686%2c127.333C275.9%2c107.913%2c278.459%2c83.923%2c267.066%2c64.608C255.833%2c45.565%2c233.652%2c37.98%2c211.555%2c37.257C187.819%2c36.48%2c161.666%2c40.437%2c149.373%2c60.757C136.772%2c81.586%2c143.476%2c107.868%2c156.332%2c128.54C168.393%2c147.933%2c188.718%2c160.995%2c211.555%2c160.741' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M146.91 519.56 a62.31 62.31 0 1 0 124.62 0 a62.31 62.31 0 1 0 -124.62 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M22.292593845928955 396.01897603791986L30.443260387530405 419.6902304683471 61.874808762370535 395.6286034407313z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M224.57547208353003 451.78837909067664L255.1526611377602 418.99835830841096 190.67903543724663 389.52758511819854z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M107.85 392.97 a63.08 63.08 0 1 0 126.16 0 a63.08 63.08 0 1 0 -126.16 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='240' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
// backdrop-filter: blur( 4px );
// -webkit-backdrop-filter: blur( 4px );
// box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
// -webkit-backdrop-filter: blur( 4px );
overflow: scroll;
// border-radius: 10px;
margin-right: 20px;
color: white;
padding-top: 50px;
width: 220px;
// display: flex;
// flex-direction: column;
// align-items:flex-start;
// line-height:5px;
// margin-top: auto;
// width: 70px;
// overflow: hidden ;
Button{
  width: 220px;
  // display: flex;
  // background-color: #ffffff00;
  // border-left: 2px solid #fc3802;
  // padding: 10px;
  margin: 5px 0px;
  padding-left: 10px;
  justify-content:flex-start;
}
// &:hover{
//   width: 250px;
// }
}

.lefticon{
  // margin-right: 30px;
}
.calen{
  position: relative;
  left: -20px;
}


.LeftMenu{
 
    

    height: 100vh;
    overflow-y: scroll;
  
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(186, 211, 248, 0);
  border-radius: 20px;
  height: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(230, 228, 245);
}

.ALl_coll{
 
  padding: 0px 20px;
  margin-left: 10px;
  border-left: 1px solid rgb(15, 128, 204);
  width: 250px;
  // margin: 13px 10px;
  // border-radius: 30px;
background-color: #fff;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  color: rgb(0, 0, 0);
  
  word-wrap: break-word;
  img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border-radius: 30px;
  }
  h1{
    font-size: 17px;
    // text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: -7px;
    padding-top: 10px;
  }

  &:hover{
    cursor: pointer;

  }
}

.iconss{
background-color: rgba(74, 91, 190, 0.075);
border-radius: 20px;
width: 110px;
}



.main_title{
  display: flex;
  background-color: #02292c;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  padding-left: 10px;
   background: rgba(255, 0, 0, 0.75);
  box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px !important;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3cpath d='M1 200L201 0L292.5 0L92.5 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M154 200L354 0L423 0L223 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M382 200L182 0L116 0L316 200z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M255 200L55 0L-117.5 0L82.5 200z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M234.6525425447759 200L400 34.65254254477591L400 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M0 200L165.3474574552241 200L 0 34.65254254477591z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1047'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");  
 
  .deletecoll{
display: flex;
flex-direction: column;
    h1{
      font-weight: 100;
      color: rgb(255, 255, 255);
      font-weight: 900;
      font-family: a;
      padding-bottom: 10px;
      margin: 0px !important;
    }
  }
  img{
    height: 100px;
    width: 110px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
}

.css-19kzrtu{
  padding: 0px !important;
}


.AllLinks{
  display: flex;
  flex-direction: row;

  // flex-wrap: wrap;
  overflow-x: scroll;
  padding-bottom: 20px !important;

.links{
  width: 200px;
 
  word-wrap: break-word;
  margin: 10px ;
  // padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 10px 4px rgb(224, 222, 222);


  background: rgba(255, 255, 255, 0.911);
box-shadow: 0 4px 7px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 6px;
border: 1px solid rgb(210, 210, 210);


  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  h1{
    // font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 10px;
    // font-weight: 600;
    // text-transform: uppercase;
  }
  h2{
    word-wrap: break-word;
    font-size: 13px;
    margin: 10px;
    height: 90px;
    background-color: rgba(196, 241, 255, 0.192);
    padding: 3px;
    border-radius: 5px;
    overflow-y: scroll;
    // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // border: 3px solid #d7f5f5cb;


  }
  img{
    height:120px;
    width:150px;
    align-items: center;
    border-radius: 6px;
  }

  .icons{
    display: flex;
    justify-content: end;
    // width: 100px;.
    // display: none;
    background-color: rgb(214, 207, 207);
    // border-bottom: 1px solid #000;
    border-radius: 6px 6px 0px 0px;

    
  }
}
}

.form{
  background-color: rgba(207, 213, 236, 0.918);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  
  background: rgba(255, 255, 255, 0.849);
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );



}
.css-1nrlq1o-MuiFormControl-root{
textarea{
  // height: 50px !important;
  border-radius: 1px solid gray;

}
}
.Addme{
  
  margin: 10px 20px !important;
  // border-radius: 6px !important;
  font-size: 10px;
position: relative;
// top: -40px;
  
}
.btnflex{
  display: flex !important;
}


.nodata{
  display: flex;
  align-items: center  ;
  justify-content: center;
  width: 100%;
 
}


@media screen and (max-width: 480px) {

  
  .links{
    // width: 100% !important;
  }
  .main_title{
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3cpath d='M1 200L201 0L292.5 0L92.5 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M154 200L354 0L423 0L223 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M382 200L182 0L116 0L316 200z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M255 200L55 0L-117.5 0L82.5 200z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3cpath d='M234.6525425447759 200L400 34.65254254477591L400 200z' fill='url(%23SvgjsLinearGradient1046)'%3e%3c/path%3e%3cpath d='M0 200L165.3474574552241 200L 0 34.65254254477591z' fill='url(%23SvgjsLinearGradient1047)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1047'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");  
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='200' preserveAspectRatio='none' viewBox='0 0 400 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3cpath d='M1 200L201 0L292.5 0L92.5 200z' fill='url(%23SvgjsLinearGradient1049)'%3e%3c/path%3e%3cpath d='M154 200L354 0L423 0L223 200z' fill='url(%23SvgjsLinearGradient1049)'%3e%3c/path%3e%3cpath d='M382 200L182 0L116 0L316 200z' fill='url(%23SvgjsLinearGradient1050)'%3e%3c/path%3e%3cpath d='M255 200L55 0L-117.5 0L82.5 200z' fill='url(%23SvgjsLinearGradient1050)'%3e%3c/path%3e%3cpath d='M234.6525425447759 200L400 34.65254254477591L400 200z' fill='url(%23SvgjsLinearGradient1049)'%3e%3c/path%3e%3cpath d='M0 200L165.3474574552241 200L 0 34.65254254477591z' fill='url(%23SvgjsLinearGradient1050)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='400' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1049'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1050'%3e%3cstop stop-color='rgba(185%2c 15%2c 15%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(185%2c 15%2c 15%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    h1{
      // width: 100px ;
      margin-right: 10px;
    }
    img{
      // height: 80px;
      // width: 100px;
  }
  }  

  
.AllLinks{
  .links{
    .icons{
      width: 100%;
    }
// width: 43% !important;
// align-items: center;
    img{
      // height: 80px;
      // width: 100px;
      // padding-left: 10%;
    }
  }
}

p{
  padding: 0px !important;
}
}
.MuiButtonBase-root{
  // margin-right: 2px;
}
.svg_icons {
  transform: scale(0.9);
}

.allflex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.active{
  border-left: 4px solid #1900fd;
background-color: #f1eafd;
// border-radius: 0px 50px 50px 0px;
color: #000000;

}

.Mui-selected{
 
  
}

.MuiTabs-flexContainer{
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur( 4px );
  // background-color: #02292c !important;
margin: 0px !important;
  // background: rgba( 255, 255, 255, 0.75 );
box-shadow: 0 3px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 0px !important;
// border: 1px solid rgba( 255, 255, 255, 0.18 );

  button{
    color: rgb(0, 0, 0);
    // color: rgb(255, 0, 0);

  }
}

.MuiCheckbox-root{
  svg{

    border-radius: 20px !important;
  }
}
.PrivateSwitchBase-input {
  background-color: #fff;
border-radius: 20px !important;
}
.MuiTabs-flexContainer{
 
 position: sticky;
 top: 0;
}
@media screen and (max-width: 480px) {
  .MuiTabs-flexContainer{
    padding-left: 30px;   
  }
  .main_title{
    h1{
      font-size: 20px;
    }
  }

  
}

  .true{
    background-color: rgba(4, 100, 4, 0.89) !important;
   
  }
  .false{
    background-color: rgb(110, 6, 6) !important;
  }
  .task{
    color: white !important;
  }
#imgdiv{

  img{
 
  }
}
.Delette{
  color: rgba(250, 250, 250, 0.781) !important;
  background-color: rgba(228, 51, 51, 0.233) !important;
}
.edit{
  color: white !important;
  background-color: rgba(255, 255, 255, 0.123) !important;
  margin-left: 30px !important;
}
.alllex{
  // display: none;
}

.ALl_coll{
  &:hover{
    background-color: #f1eafd;
    
  }
}
// @media screen and (max-width: 480px) {
.alllex{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-left: 20px;
  padding: 20px;
  // background-color: rgb(197, 85, 85);
  .ALl_colll{
    border: 1px solid rgb(31, 107, 207);
    align-items: center;
    // background-color: #fff;
    display: flex;
    border-radius: 30px;
padding: 0px 20px;
    margin: 0px 4px;


    background: rgba( 255, 255, 255, 0.75 );
    box-shadow: 0 2px 2px 0 rgba( 31, 38, 135, 0.37 );
    
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 250ms ease-in-out;
    &:hover{
      cursor: pointer;
      box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );

}
    img{
      height: 30px;
      width: 30px;
      margin-right: 10px;
      border-radius: 30px;
    }
    h1{
      font-size: 10px;
      color: rgb(0, 0, 0);
    }
  }
}

// }

.Add{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
margin-bottom: 20px;
  img{
    height: 180px;
    width: 280px;
    border-radius: 10px;
  }
  .css-1wlk0hk-MuiAvatar-root{
    text-align: center;
    align-items: center;
    height: 100px;
    width: 100px;
    img{
    }
  }
}

.add{
  .MuiButtonBase-root{
    width: 150px !important;
    border-radius: 30px !important;
    padding: 10px 20px;
    margin-right: 10px;


  }
}

.addnew
{
// position: fixed;
// top: 0px;
// height: 100vh;
// width: 100%;
background-color: rg  b(229, 238, 241);
padding-top: 70px;
text-align: center;
padding: 80px 0px;
color: white;
// background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(24%2c 106%2c 59%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c605.88C110.745%2c631.443%2c222.903%2c555.745%2c311.025%2c483.965C393.745%2c416.585%2c427.607%2c312.43%2c476.606%2c217.659C528.371%2c117.538%2c621.767%2c24.472%2c606.321%2c-87.176C590.869%2c-198.862%2c474.903%2c-262.376%2c398.698%2c-345.474C324.917%2c-425.929%2c274.765%2c-553.336%2c166.441%2c-566.845C56.09%2c-580.607%2c-14.953%2c-445.388%2c-120.45%2c-410.216C-220.003%2c-377.026%2c-340.107%2c-429.327%2c-426.166%2c-369.275C-517.475%2c-305.56%2c-595.257%2c-195.5%2c-587.311%2c-84.443C-579.319%2c27.248%2c-457.28%2c89.529%2c-387.095%2c176.781C-335.895%2c240.431%2c-285.385%2c298.273%2c-230.669%2c358.927C-153.659%2c444.294%2c-112.024%2c580.022%2c0%2c605.88' fill='%23104526'%3e%3c/path%3e%3cpath d='M1440 1240.6109999999999C1563.284 1212.812 1624.733 1079.518 1722.08 998.925 1805.025 930.255 1909.561 891.201 1969.833 801.967 2036.8719999999998 702.715 2083.197 587.617 2080.777 467.87 2078.191 339.892 2041.5549999999998 208.09199999999998 1955.9099999999999 112.96100000000001 1870.883 18.51800000000003 1743.7060000000001-27.621999999999957 1617.988-46.173 1502.3-63.24400000000003 1387.591-31.311000000000035 1279.426 13.135999999999967 1179.798 54.07499999999999 1104.892 128.78500000000003 1022.727 198.43099999999998 924.69 281.531 772.125 334.164 751.113 460.953 730.16 587.391 870.837 679.035 923.736 795.77 976.85 912.9780000000001 964.829 1063.694 1062.313 1147.692 1162.562 1234.0720000000001 1310.911 1269.719 1440 1240.6109999999999' fill='%23208f50'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.delete{
  align-items: flex-end;
}
.deletee{
  background-color: #db2e2e09 !important;
  color: rgb(94, 1, 1) !important;
  border: 0px solid gray !important;
  // border-radius: 30px !important;
  margin-right: 10px !important;
}

.blockk{
  height: 60vh;
  overflow-y: scroll;
}

.cards{
display: flex;
overflow-x: scroll;
.card{
  margin: 10px;
  // background-color: rgba(231, 226, 226, 0.925);
//  border: 1px solid gray;
  padding: 7px;
  border-radius: 10px;
  // height: 80px;
  // width: 80px;
  img{
    height: 70px;
width: 70px;
border-radius: 10px;
  }
  h3{
    font-size: 10px;

  }

  &:hover{
    cursor: pointer;
  }
}
}




@media screen and (min-width: 480px) {
  .MuiTabs-flexContainer{
    border-radius: 20px;
    margin: 10px;
  }
  .tabs{
    display: none;
  }
  .right{
    // padding-top: 60px;
  }
 
}

@media screen and (max-width: 480px) {
  .main_title{
 
    border-radius: 0px 0px 70px 0px;
  }
  .tabs{
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow-x: scroll;
    
  // background: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 5px 5px 0px 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background-color: #02292c !important;

  
  }
  .destabs{
    display: none;
  }
 
  .alllex{
  //  padding-top: 70px; 
  //  padding-bottom: 0px !important;
  //  background-color: #02292c;

  }
}












.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }
 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }
 .react-calendar__navigation button:enabled:hover,
 .react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
 }
 .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
 }
 abbr[title] {
  text-decoration: none;
 }
 /* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
 } */
 .react-calendar__tile:enabled:hover,
 .react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
 }
 .react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--now:enabled:hover,
 .react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
 }
 .react-calendar__tile--hasActive:enabled:hover,
 .react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
 }
 .react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
 }
 .react-calendar__tile--active:enabled:hover,
 .react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
 }
 .react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
 }
 .react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
 }
 .react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
 }
 .react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
 }


 .css-1aquho2-MuiTabs-indicator{
   height: 2px !important;
   border-radius: 20px !important;
 }

//  .MuiTabs-centered{
//    button{
//     background-color: gray !important ;
//    }
//    button:nth-child(1){

//      background-color: gray !important ;
//      border-radius: 30px 0px 0px 30px;
//    }
//    button:nth-child(4){

//     background-color: gray !important ;
//         border-radius: 0px 30px 30px 0px;
//   }
//  }


.alltabs{
  // background-color: rgb(228, 28, 28);
  // display: flex;
  
  .destabs{
    // width: 20%;
    transform: rotate(90%);
  }

}
.row{
  background-color: #fff;
}
.All_block{
padding: 10px;
background-color: #a5cff331;
border-radius: 6px;
// border: 1px solid gray;
margin: 10px;
border-radius: 10pxfmain;
}
.card_title{
  display: flex;
  justify-content: space-between;
  h2{
    border-left: 5px solid rgb(7, 115, 134);
    text-transform: uppercase;
    font-size: 20px;
    font-family:monospace;
  }
}
.index-header{
  padding: 10px;
  align-items: flex-end;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  border-radius: 10px;
  margin: 10px;
  background-color: #fff;
  // box-shadow: 0 8px 12px 0 rgba(127, 135, 249, 0.192);

  
  h1{
    font-size: 17px;
    margin: 0px;
    // padding: 0px;
  }
}

.cal_header
{
  padding: 20px ;
  // margin-left: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #098d99bc;
  border-radius: 10px;
  filter: drop-shadow(8px 8px 0 rgba(32, 33, 37, 0.1));

//   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='360' preserveAspectRatio='none' viewBox='0 0 1440 360'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M194.94 148.86 a7.25 7.25 0 1 0 14.5 0 a7.25 7.25 0 1 0 -14.5 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M176.4 173.8a8.43 8.43 0 1 0 12.01 11.84z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1356.22 145.04L1368.29 145.04L1368.29 175.26L1356.22 175.26z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1340.79 144.23a18.73 18.73 0 1 0 31.28 20.6z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M482.39 308.24a35.5 35.5 0 1 0-31.51 63.63z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M561.46 248.05a1.79 1.79 0 1 0-2.73-2.32z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M352.07 137.03L381.83 137.03L381.83 143.13L352.07 143.13z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M605.88 333L630.06 333L630.06 357.18L605.88 357.18z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M794.59 218.14L817.43 218.14L817.43 240.98L794.59 240.98z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1039.06 321.63a30.94 30.94 0 1 0-25.72-56.29z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M287.05 121.43L318.13 121.43L318.13 129.94L287.05 129.94z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1103.41 277.76a4.79 4.79 0 1 0 7.98-5.3z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M248.85 222.34a1.42 1.42 0 1 0-2.8-0.5z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M553.74 64.11L574.93 64.11L574.93 75.29L553.74 75.29z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M304.88 72.51L336.75 72.51L336.75 75.2L304.88 75.2z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M634.76 351L663.18 351L663.18 385.71L634.76 385.71z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M344.04 127.45 a29.51 29.51 0 1 0 59.02 0 a29.51 29.51 0 1 0 -59.02 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1071.01 90.8L1099.8 90.8L1099.8 125.72L1071.01 125.72z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M592.69 323.03L606.39 323.03L606.39 331.95L592.69 331.95z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1092.63 244.6L1102.52 244.6L1102.52 254.49L1092.63 254.49z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M846.35 145.22 a17.1 17.1 0 1 0 34.2 0 a17.1 17.1 0 1 0 -34.2 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1270.77 12.65a28.08 28.08 0 1 0-55.16 10.56z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M889.19 31.88L897.31 31.88L897.31 40L889.19 40z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M480.67 160.1L488.56 160.1L488.56 167.99L480.67 167.99z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1.09 59.33 a31.18 31.18 0 1 0 62.36 0 a31.18 31.18 0 1 0 -62.36 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M43.95 160.99L45.3 160.99L45.3 162.34L43.95 162.34z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1056 52.2 a29.04 29.04 0 1 0 58.08 0 a29.04 29.04 0 1 0 -58.08 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M735.05 116.28L735.26 116.28L735.26 138.15L735.05 138.15z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M925.49 32.98 a8.25 8.25 0 1 0 16.5 0 a8.25 8.25 0 1 0 -16.5 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M764.76 237.95 a17.62 17.62 0 1 0 35.24 0 a17.62 17.62 0 1 0 -35.24 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1053.95 38.64L1084.33 38.64L1084.33 69.02L1053.95 69.02z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M851.06 48.1L862.92 48.1L862.92 59.96L851.06 59.96z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M208.8 121.11 a12.36 12.36 0 1 0 24.72 0 a12.36 12.36 0 1 0 -24.72 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M772.13 81.38a11.37 11.37 0 1 0 20.32 10.2z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M919.48 156.25a11.31 11.31 0 1 0-21.17-7.98z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1007.15 307.9L1041.19 307.9L1041.19 309.6L1007.15 309.6z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1144.37 325.03a14.72 14.72 0 1 0 8.04-28.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M243.86 211.63L254.61 211.63L254.61 212.8L243.86 212.8z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M563.73 23.24L590.2 23.24L590.2 49.71L563.73 49.71z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1284.95 141.12a11.24 11.24 0 1 0 18.13-13.29z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M282.12 48.25a10.41 10.41 0 1 0-20.27 4.76z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M577.91 149.88a33.64 33.64 0 1 0 23.1 63.2z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M861.62 153.3L887.52 153.3L887.52 182.46L861.62 182.46z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M822.77 304.45a15.26 15.26 0 1 0 22 21.15z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M512.26 22.92L523.91 22.92L523.91 34.57L512.26 34.57z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M113.84 147.11a16.19 16.19 0 1 0 22.26-23.52z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1003.74 211.3L1010.84 211.3L1010.84 239.75L1003.74 239.75z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M152.59 180.27L188.35 180.27L188.35 191.22L152.59 191.22z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1013.38 213.35a31.43 31.43 0 1 0-60.08 18.49z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M343.06 212.61L360.45 212.61L360.45 230L343.06 230z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='360' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
//  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='540' height='160' preserveAspectRatio='none' viewBox='0 0 540 160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3cpath d='M281.572453779562 100.30808510351808L241.21633281777062 119.99108044468962 301.25544912073354 140.6642060653095z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M259.01 144.58 a40.16 40.16 0 1 0 80.32 0 a40.16 40.16 0 1 0 -80.32 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M414.025%2c141.205C424.115%2c141.064%2c433.856%2c136.124%2c438.549%2c127.191C442.972%2c118.77%2c440.465%2c108.735%2c435.266%2c100.769C430.581%2c93.59%2c422.596%2c89.505%2c414.025%2c89.613C405.648%2c89.718%2c398.363%2c94.337%2c393.688%2c101.29C388.277%2c109.337%2c383.887%2c119.251%2c388.289%2c127.891C392.989%2c137.115%2c403.674%2c141.349%2c414.025%2c141.205' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M53.829%2c168.097C70.204%2c167.75%2c86.873%2c162.078%2c94.952%2c147.83C102.942%2c133.739%2c98.988%2c116.72%2c90.928%2c102.668C82.82%2c88.532%2c70.102%2c76.994%2c53.829%2c76.132C36.055%2c75.19%2c18.415%2c83.092%2c9.234%2c98.34C-0.22%2c114.042%2c-0.301%2c134.198%2c9.571%2c149.64C18.799%2c164.074%2c36.701%2c168.46%2c53.829%2c168.097' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M266.3354467041489 100.80761520951435L285.9815983887559 89.46490424586626 259.1444561009803 65.6670322007798z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M479.4457884818835 54.90799708415134L500.779305887904 63.9635379641763 503.6958585049312 27.43549141513302z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M122.51430932723272 62.84748219280324L105.83966833061561 25.39562532275039 68.38781146056276 42.070266319367505 85.06245245717987 79.52212318942036z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M5.493709727419734 174.39951107565662L32.70812403903953 187.08980088136795 38.13635159179661 139.9230345110826z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M276.91 3.25 a37.83 37.83 0 1 0 75.66 0 a37.83 37.83 0 1 0 -75.66 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M511.267318135667 138.76060535143517L541.9742512202482 121.03194926906437 524.2455951378774 90.32501618448315 493.53866205329615 108.05367226685397z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M289.44089007462134 127.11685514838634L310.33015803222867 105.52659991966378 284.9638586773338 98.7297204925536z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='540' height='160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  // box-shadow: 0 10px 12px 0 rgba( 31, 38, 135, 0.37 );
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff33;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    border-left: 2px solid #f4d10c;
    font-size: 18px;
    // font-family: serif;
    color: #faed00;
    // position: relative;
    // top: 30px;
    // left: -30px;
    img{
      margin-right: 20px;
    }

  }

  .weekbtns{
    display: flex;
    text-align: right;
    h1{
      font-size: 20px;
      font-weight: 800;
      color: #ffffffbc;
    
      margin: 0px;
      margin-right: 10px;
    

    }
  
      .flex{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        margin-top: 10px;
        // padding: 6px;
        border-radius: 10px;
      }
      .btn{
        background-color: rgba(255, 255, 255, 0.381);
        margin-right: 5px;
        color: #02292c;
        // font-size: 15px;
        border-radius: 20px;
        box-shadow: 0 10px 12px 0 rgba(2, 52, 21, 0.146);

      // }
    }
  }
}
.cal_flex{
  display: flex;

}
.small{
  // width: 30%;
  border-radius: 2px;
  margin-left: 10px;
  background-color: rgb(255, 255, 255);
  
  border-top: 6px solid #098d99bc;
  border-top: 6px solid #f566003d;
  .small_cal{
    position: sticky;
top: 0;
// height: 100vh ;
// overflow-y: scroll;
    padding:20px 20px  20px 10px;
    .Small_cal_card{

      padding: 10px;
      margin: 10px;
      background-color: #fff;
      filter: drop-shadow(8px 8px 0 rgba(32, 33, 37, 0.1));
      border: 1px solid rgb(217, 212, 212);
      
    }
    h4{
      font-family: serif;
      font-size: 18px;
    }
  }
  .react-calendar{
    box-shadow: 0px 0px 0px red !important;
    border: 0px solid red;
  }
}

.rems_card
{
  
  background-color: #0446895d;
  padding: 10px;
  margin: 10px;
  // filter: drop-shadow(5px 5px 0 rgba(32, 33, 37, 0.1));

  border-radius: 6px;
  h5 , h3, h4{

    color: rgb(4, 4, 4) !important;
  }
  h3{
    text-transform: uppercase;
    color: rgb(1, 18, 31) !important;
    // font-weight: 600;
  }
  h4{
    font-size: 12px !important;
  }

  h5::before{
    content: "*";
    padding-right: 6px;
    position: relative;
    top: 1px;
    color: rgb(0, 255, 0);
  }
}
.ant-col{
  // padding: 10px;
}
.timeblock{
  transition: 250ms ease-in-out;
  &:hover{
    background-color: rgba(3, 33, 81, 0.45);
  }
}
.maincard
{
  // box-shadow: 0 10px 12px 0 rgba( 31, 38, 135, 0.37 );
  background-color: rgb(18, 79, 153) !important;
  padding: 10px;
  // font-family: 'Poppins', sans-serif;
  overflow: scroll;
  transition: 250ms ease-in-out;
  color: white;
  border: 0px solid gray;
  border-radius: 2px;
  font-size: 10px;
  &:hover{
    transform: scale(1.1);
  }

  span{
    // background-color: rgba(255, 255, 255, 0.217);
    // border-radius: 10px;
    // padding: 10px 1px 10px 2px;
    // position: relative;
    // top: -14px;
    // left: -12px;
    // width: 130% !important;
    color: rgb(255, 255, 255);
    font-size: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}



blockquote{
  background-color: #d1d1d13c;
  padding: 10px !important;
  padding-left: 20px !important;
}

.ql-Upper:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  content: "\03D1";
 font-size: 20px;
}
.ql-Padding{
  width: 200px;
}
.ql-Padding:before{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  content: "PD";
 font-size: 20px;
}
.ql-Hr{
  width: 200px !important;
}

.ql-Hr:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  content: "HR";
 font-size: 20px;
}
.Uppercase{
 text-transform: uppercase;
}

.docheader{
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .leftbtns{
    align-items:baseline;
    margin-top: auto;
    input{
      margin-right: 20px;
      border: 0px;
      border-radius: 3px;
      outline: 0px;
      padding: 8px 20px;
    }
    Button{
      padding: 8px 20px;
    }
  }
 .icon{
   display: flex;
   align-items: center;
   filter: drop-shadow(8px 8px 0 rgba(32, 33, 37, 0.1));
   width:fit-content;
   h2{
     position: relative;
     top: 7px;
     font-size: 30px;
     font-weight: 900;
   }
 }

   
}

.ql-editor{
  h6{
    border-bottom: 1px solid rgb(128, 128, 128);
    font-size: 1px;
  }
}

.doc_headerr{
  display: flex;
}
.doc_header{
  padding: 10px;
  // padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  // max-width: 80%;
  background-color: rgb(255, 255, 255);
  align-items: baseline;
  // margin: auto;
  h2{
    margin: 0px !important;
    margin-left: 20px !important;
  }

  input{
    font-size: 20px;
  }
  .btns{
   
    margin-top: auto;
    button{
      margin-left: 20px;
      font-size: 10px;
    }
    
  }
  
}

.ql-syntax{
  background-color: #02202532 !important;
  padding: 10px !important;
  margin: 60px;

  border-top: 25px solid rgba(152, 180, 236, 0.363);
  box-shadow: 0 10px 30px 0 rgba(120, 120, 231, 0.276);
  padding-left: 25px !important;
  color: rgb(3, 39, 9) !important;
  font-size: 20px;
  font-weight: 100;
  // letter-spacing: px;
  // font-family: serif;
  font-family: 'Nunito Sans', sans-serif;
  // font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#editor{
  max-width: 80%;
  margin: auto;
}

.ant-message-notice-content{
 
  // background-color: rgb(255, 0, 0) !important ;
  border-radius: 10px;
  
}

.read{
    text-align: center;
    // background-color: orangered;
    color: rgb(1, 36, 23);
    font-weight: 900;
    font-size: 40px;
  
}
.model{
  border-radius: 20px;
  h4{
    font-family: serif;
    font-size: 20px;
  }
.link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(2, 43, 71);
  border-radius: 5px;
  h3{
    width: 90%;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
transition: 250ms ease-in-out;
  &:hover{
    background-color: rgb(2, 43, 71);
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgb(120, 120, 231);
  }
}
}

.expenseblock{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='860' preserveAspectRatio='none' viewBox='0 0 1440 860'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3cpath d='M720 1160.73C905.78 1160.46 1062.96 1035.27 1186.58 896.58 1302.32 766.77 1378.38 603.77 1371.34 430 1364.54 262.52 1273.96 112.85 1150.17-0.17 1032.29-107.78 879.36-155.89 720-164.66 549.18-174.08 357.42-174.45 239.72-50.28 123.5 72.32 154.17 261.09 156.38 430 158.56 595.48 151.04 766.84 252.13 897.87 365.69 1045.09 534.05 1161 720 1160.73' fill='%231c538e'%3e%3c/path%3e%3cpath d='M720 902.82C840.21 902.65 941.91 821.64 1021.91 731.91 1096.79 647.91 1146.01 542.44 1141.45 430 1137.05 321.63 1078.45 224.78 998.34 151.66 922.07 82.03 823.11 50.9 720 45.22 609.47 39.13 485.39 38.88 409.23 119.23 334.03 198.56 353.88 320.7 355.31 430 356.71 537.07 351.85 647.95 417.26 732.74 490.74 828 599.68 903 720 902.82' fill='%232774c6'%3e%3c/path%3e%3cpath d='M720 644.92C774.64 644.84 820.87 608.02 857.23 567.23 891.27 529.05 913.64 481.11 911.57 430 909.57 380.74 882.93 336.72 846.52 303.48 811.85 271.83 766.87 257.68 720 255.1 669.76 252.33 613.36 252.22 578.74 288.74 544.56 324.8 553.58 380.32 554.23 430 554.87 478.67 552.66 529.07 582.39 567.61 615.79 610.91 665.31 645 720 644.92' fill='%23488fdb'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='860' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); 
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='800' height='660' preserveAspectRatio='none' viewBox='0 0 800 660'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1178%26quot%3b)' fill='none'%3e%3ccircle r='17.05' cx='253.76' cy='443.94' fill='url(%23SvgjsLinearGradient1179)'%3e%3c/circle%3e%3ccircle r='38.475' cx='555.1' cy='402.28' fill='url(%23SvgjsLinearGradient1180)'%3e%3c/circle%3e%3ccircle r='53.13' cx='312.69' cy='351.74' fill='url(%23SvgjsLinearGradient1181)'%3e%3c/circle%3e%3ccircle r='40.265' cx='340.57' cy='166.16' fill='url(%23SvgjsLinearGradient1182)'%3e%3c/circle%3e%3ccircle r='51.035' cx='460.72' cy='204.95' fill='url(%23SvgjsLinearGradient1183)'%3e%3c/circle%3e%3ccircle r='51.085' cx='778.38' cy='76.19' fill='url(%23SvgjsLinearGradient1184)'%3e%3c/circle%3e%3ccircle r='20.295' cx='259.84' cy='162.98' fill='url(%23SvgjsLinearGradient1185)'%3e%3c/circle%3e%3ccircle r='65.255' cx='318.19' cy='300.13' fill='url(%23SvgjsLinearGradient1186)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1178'%3e%3crect width='800' height='660' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='219.66' y1='443.94' x2='287.86' y2='443.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1179'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='478.15000000000003' y1='402.28' x2='632.0500000000001' y2='402.28' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1180'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='206.43' y1='351.74' x2='418.95000000000005' y2='351.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1181'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='260.03999999999996' y1='166.16' x2='421.09999999999997' y2='166.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1182'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='358.65000000000003' y1='204.95' x2='562.79' y2='204.95' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1183'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='676.21' y1='76.19' x2='880.5500000000001' y2='76.19' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1184'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='219.24999999999997' y1='162.98' x2='300.42999999999995' y2='162.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1185'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='187.68' y1='300.13' x2='448.7' y2='300.13' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1186'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-image: url("https://www.htcinc.net/wp-content/uploads/2018/07/background-blur-bokeh-255464.jpg");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1340' height='660' preserveAspectRatio='none' viewBox='0 0 1340 660'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='282.24' height='282.24' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='431.54' y='358.6' fill='url(%23SvgjsPattern1002)' transform='rotate(44.31%2c 572.66%2c 499.72)'%3e%3c/rect%3e%3cpath d='M924.89 374.61L923.98 361.84 936.24 358.15 935.33 345.37 947.6 341.68 946.69 328.91 958.95 325.22' stroke='%23e73635' stroke-width='2.08' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M623.23 521.74a5.6 5.6 0 1 0-5.15 9.95 5.6 5.6 0 1 0 5.15-9.95zM615.87 535.95a5.6 5.6 0 1 0-5.15 9.95 5.6 5.6 0 1 0 5.15-9.95zM608.51 550.16a5.6 5.6 0 1 0-5.15 9.94 5.6 5.6 0 1 0 5.15-9.94zM601.15 564.37a5.6 5.6 0 1 0-5.15 9.94 5.6 5.6 0 1 0 5.15-9.94zM623.74 485.97a5.6 5.6 0 1 0-5.15 9.94 5.6 5.6 0 1 0 5.15-9.94zM616.38 500.18a5.6 5.6 0 1 0-5.15 9.94 5.6 5.6 0 1 0 5.15-9.94zM609.02 514.38a5.6 5.6 0 1 0-5.15 9.95 5.6 5.6 0 1 0 5.15-9.95zM601.66 528.59a5.6 5.6 0 1 0-5.15 9.95 5.6 5.6 0 1 0 5.15-9.95z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M843.87 314.3a5.6 5.6 0 1 0 8.84 6.87 5.6 5.6 0 1 0-8.84-6.87zM856.5 324.12a5.6 5.6 0 1 0 8.84 6.88 5.6 5.6 0 1 0-8.84-6.88zM869.13 333.95a5.6 5.6 0 1 0 8.84 6.88 5.6 5.6 0 1 0-8.84-6.88zM881.75 343.77a5.6 5.6 0 1 0 8.84 6.88 5.6 5.6 0 1 0-8.84-6.88z' fill='%23037b0b'%3e%3c/path%3e%3ccircle r='85.46713120762554' cx='342.03' cy='566.39' fill='%23e73635'%3e%3c/circle%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='78.84' y='441.28' fill='url(%23SvgjsPattern1004)' transform='rotate(83.5%2c 108.84%2c 471.28)'%3e%3c/rect%3e%3cpath d='M246.13 282.06L258.76 279.96 263.58 291.82 276.22 289.72 281.04 301.59 293.67 299.49 298.49 311.35M242.22 289.04L254.85 286.94 259.68 298.81 272.31 296.7 277.13 308.57 289.76 306.47 294.59 318.33M238.32 296.02L250.95 293.92 255.77 305.79 268.4 303.69 273.23 315.55 285.86 313.45 290.68 325.31' stroke='%23d3b714' stroke-width='2.47' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M1058.29 617.4000000000001 L1150.08 550.01L1153.1213256694919 632.641325669492z' stroke='%23037b0b' stroke-width='1.79' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='149.24' height='149.24' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='861.93' y='-6.97' fill='url(%23SvgjsPattern1006)' transform='rotate(261.33%2c 936.55%2c 67.65)'%3e%3c/rect%3e%3crect width='120' height='120' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='244.36' y='176.26' fill='url(%23SvgjsPattern1008)' transform='rotate(133.82%2c 304.36%2c 236.26)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1340' height='660' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6.72' height='6.72' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 6.72L3.36 0L6.72 6.72' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='70.56' cx='572.66' cy='499.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23d3b714' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='15' cx='108.84' cy='471.28'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='149.24' height='10.66' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3crect width='149.24' height='5.33' x='0' y='0' fill='%23037b0b'%3e%3c/rect%3e%3crect width='149.24' height='5.33' x='0' y='5.33' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='37.31' cx='936.55' cy='67.65'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='30' cx='304.36' cy='236.26'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  .expense{
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    // height: 100vh;
  }
}


.rdw-editor-main{
  box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
background-color: #fff;
max-width: 80%;
padding: 20px;
margin: auto;
}

code{
  color: #d400ff;
  // background-color: #d400ff11 !important;
}

img{
  transition: 0.5s ease-in-out;
  &:hover{
    cursor: pointer;
    box-shadow: 0 8px 6px 0 rgba(138, 145, 246, 0.37);

  }
}
blockquote{
  border-color: rgb(0, 195, 255) !important;
  // font-size: 20px !important;
}

.ql-toolbar
{
  // position: sticky;
  // top: 0;
  // background-color: #fff;
 
}
.ql-editor{
}

#__next > div.content > div.quill > div.ql-container.ql-snow{
  height: 80vh;
  overflow-y: scroll;

}

#__next > div{
  padding: 0px !important;
}
#__next > div > div.quill > div.ql-container.ql-snow > div.ql-editor{
background-color: #fff;
max-width: 80%;
margin: auto;
padding: 2% 10%;
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 7px 0 rgba( 31, 38, 135, 0.37 );

border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#__next > div > div > div > div > div.ql-editor{
  max-width: 80%;
margin: auto;
padding: 2% 10%;

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 7px 0 rgba( 31, 38, 135, 0.37 );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}



.weekDates{

  color: #9e9e9e;
  line-height: 12px;
  margin-left: 10px;


}



@media screen and (min-width: 480px) {
  .block{
    .left{
      // width: 300px;
    }
    .right{
      width: 80%;
    }
  }
  .small{
    width: 30%;
  }
  
  .main_cal{
    width: 70%;
  }
  .weekDates{
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .weekDates{
    font-size: 20px;
  }
  .block{
    .left{
      display: none;
     
    }
   
  }

  .main_cal{
    height: 80vh;
    overflow-y: scroll;
    border: 1px solid rgb(215, 209, 209);
    border-radius: 10px;
    
  }
  .cal_flex{
    flex-wrap: wrap;
  
  }
  .small{
    margin-top: 20px;
    width: 90%;
  }
}