@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
font-weight: 700;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.but{
  background-color: rgba(201, 23, 23, 0.301);
  border-radius: 30px;
}

details{
  background-color: rgba(231, 12, 12, 0.212);
  padding: 20px;
  margin: 20px 0px ;

  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}

p{
  padding: 10px 20px;
}

.block{
  display: flex;
 

  .right{
    padding-top: 80px;

  }
}

@media screen and (min-width: 480px) {
  .block{
    .left{
      width: 20%;
    }
    .right{
      width: 80%;
    }
  }
}

@media screen and (max-width: 480px) {
  .block{
    .left{
      display: none;
    }
   
  }
}

.LeftMenu{
 
    padding: 20px;
    background-color: rgb(252, 231, 231);
    padding-top: 80px;

    height: 100vh;
    overflow-y: scroll;
  
}

// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #bdbdbd;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }