.container {
  // padding: 0 2rem;
}

.main {
  min-height: 100vh;
  // padding: 4rem 0;
  flex: 1;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #3acf0da1;
  transition: 0.5s background-color;
  color: #fafafa;
}


.header{
  // background-color: #e6eaee;
  position: fixed;
  top: 0;
  width: 100%;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='100' preserveAspectRatio='none' viewBox='0 0 400 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M10 100L110 0L182 0L82 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M71 100L171 0L201 0L101 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M133 100L233 0L317 0L217 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M205 100L305 0L342.5 0L242.5 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M392 100L292 0L208 0L308 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M325 100L225 0L196.5 0L296.5 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M266 100L166 0L110.5 0L210.5 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M196 100L96 0L24 0L124 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M336.8580662359856 100L400 36.858066235985575L400 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M0 100L63.141933764014425 100L 0 36.858066235985575z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='400' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1026'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
// background-color: #ffd700 !important;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  padding-right: 30px;
  h1{
    font-weight: 900;
    font-size: 25px;
    position: relative;
    top: -6px;
  }
  
  li{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    // font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .btns{
    margin-left: auto;
    font-weight: 900;
    button:nth-child(1){
      background-color: rgb(253, 253, 253);
      border: 1px solid rgba(128, 128, 128, 0.705);
      border-radius: 5px;
      font-weight: 500;
      color: orangered;

      padding: 4px 20px;
    }

    button:nth-child(2){
      margin-left: 10px;
      background-color: rgba(12, 136, 145, 0.308);
      border: 1px solid rgba(128, 128, 128, 0);
      color: #03343d;
      border-radius: 5px;
      font-weight: 500;

      padding: 4px 20px;
    }
  }
}

@media screen and (max-width: 480px) {

  .header{
    h1{
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 480px) {
.header{

  
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}


}