.container {
  // padding: 0 2rem;
}

.main {
  min-height: 100vh;
  // padding: 4rem 0;
  flex: 1;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #011229c9;
  transition: 0.5s background-color;
  color: #fafafa;
}


.header{
  background-color: #e6eaee;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  h1{
    font-weight: 900;
    font-size: 25px;
  }
  
  li{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    // font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .btns{
    margin-left: auto;
    font-weight: 900;
    button:nth-child(1){
      background-color: rgb(253, 253, 253);
      border: 1px solid rgba(128, 128, 128, 0.705);
      border-radius: 5px;
      font-weight: 500;
      color: orangered;

      padding: 4px 20px;
    }

    button:nth-child(2){
      margin-left: 10px;
      background-color: rgba(12, 136, 145, 0.308);
      border: 1px solid rgba(128, 128, 128, 0);
      color: #03343d;
      border-radius: 5px;
      font-weight: 500;

      padding: 4px 20px;
    }
  }
}