.container {
  // padding: 0 2rem;
}

.main {
  min-height: 100vh;
  // padding: 4rem 0;
  flex: 1;
  // display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #3acf0da1;
  transition: 0.5s background-color;
  color: #fafafa;
}


.header{
  // background-color: gray !important;
  position: fixed;
  top: 0;
  width: 100%;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='100' preserveAspectRatio='none' viewBox='0 0 400 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3cpath d='M10 100L110 0L182 0L82 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M71 100L171 0L201 0L101 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M133 100L233 0L317 0L217 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M205 100L305 0L342.5 0L242.5 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M392 100L292 0L208 0L308 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M325 100L225 0L196.5 0L296.5 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M266 100L166 0L110.5 0L210.5 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M196 100L96 0L24 0L124 100z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3cpath d='M336.8580662359856 100L400 36.858066235985575L400 100z' fill='url(%23SvgjsLinearGradient1025)'%3e%3c/path%3e%3cpath d='M0 100L63.141933764014425 100L 0 36.858066235985575z' fill='url(%23SvgjsLinearGradient1026)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='400' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1025'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1026'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
// background-color: #ffd700 !important;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(0, 162, 255, 0.363);
  height: 60px;
  
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 12px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  padding-right: 30px;
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='100' preserveAspectRatio='none' viewBox='0 0 500 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1159%26quot%3b)' fill='none'%3e%3cpath d='M79.51 37.89L144.47 75.39L144.47 150.39L79.51 187.89L14.56 150.39L14.56 75.39zM404.28 -74.61L469.24 -37.11L469.24 37.89L404.28 75.39L339.33 37.89L339.33 -37.11z' stroke='rgba(3%2c 48%2c 93%2c 0.31)' stroke-width='2'%3e%3c/path%3e%3cpath d='M72.01 37.89 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM136.97 75.39 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM136.97 150.39 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM72.01 187.89 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM7.06 150.39 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM7.06 75.39 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM396.78 -74.61 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM461.74 -37.11 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM461.74 37.89 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM396.78 75.39 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM331.83 37.89 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM331.83 -37.11 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(3%2c 48%2c 93%2c 0.31)'%3e%3c/path%3e%3cpath d='M198.19 -25.22L241.49 -0.22L241.49 49.78L198.19 74.78L154.89 49.78L154.89 -0.22zM414.7 49.78L458.01 74.78L458.01 124.78L414.7 149.78L371.4 124.78L371.4 74.78zM501.31 49.78L544.61 74.78L544.61 124.78L501.31 149.78L458.01 124.78L458.01 74.78z' stroke='url(%23SvgjsLinearGradient1160)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1159'%3e%3crect width='500' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='500' y1='50' x2='0' y2='50' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1160'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 181%2c 207%2c 0.33)' offset='0.54'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 181%2c 207%2c 0.33)' offset='0.54'%3e%3c/stop%3e%3cstop stop-color='rgba(161%2c 181%2c 207%2c 0.33)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  h1{
    color: #000000 !important;
    font-weight: 900;
    font-size: 25px;
    position: relative;
    top: -4px;
    text-transform: uppercase;
    font-weight: 900;
    word-spacing: 4px;
    font-family:'Times New Roman', Times, serif;
  }
  .MuiChip-labelMedium{
    color: red !important;
  }
  li{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    font-weight: 700;
  }

  .btns{
    margin-left: auto;
    font-weight: 900;
    button:nth-child(1){
      background-color: rgb(253, 253, 253);
      border: 1px solid rgba(128, 128, 128, 0.705);
      border-radius: 5px;
      font-weight: 500;
      color: orangered;

      padding: 4px 20px;
    }

    button:nth-child(2){
      margin-left: 10px;
      background-color: rgba(12, 136, 145, 0.308);
      border: 1px solid rgba(128, 128, 128, 0);
      color: #03343d;
      border-radius: 5px;
      font-weight: 500;

      padding: 4px 20px;
    }
  }
}

@media screen and (max-width: 480px) {

  .header{
    h1{
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 480px) {
.header{

  

}


}